<!DOCTYPE html>
<html>
  <head>
    <title>DevPortfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <nav>
    <ul class="horizontal-nav">
      <li><%= link_to "Home", home_path %></li>
      <li><%= link_to "About Me", about_path %></li>
      <li><%= link_to "My Work", work_path %></li>
      <li><%= link_to "Contact Me", contact_path %></li>
    </ul>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
